openapi: 3.1.0
info:
  title: Memeloop Token Center API
  version: 0.1.0
  summary: Multi-protocol AI gateway, credential, quota, and archive API
  description: |
    Contract for the API surface implemented under `src/api/`.

    The production Helm deployment separates the **control** and **gateway** roles.
    `/internal/v1/*` is served only by the control role. `/self/v1/*` and `/v1/*`
    are served only by the gateway role. `/healthz` is present on every HTTP-serving
    role. `/livez` is process liveness and `/readyz` runs bounded PostgreSQL and
    archive probes. PostgreSQL determines the readiness HTTP status; archive
    failure is reported as degraded without withdrawing gateway endpoints.
    `/healthz` is a deprecated compatibility alias for `/livez`.

    All monetary amounts are decimal strings with at most six fractional digits.
    All timestamps named `*_at` are Unix epoch milliseconds unless stated otherwise.
    Successful and error responses under `/internal`, `/self`, and `/v1` include
    `X-MTC-API-Version: v1`.
    Issued client and service credential secrets are returned only by create/rotate
    operations and must be stored by the caller immediately.
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://token-center.api.onetwo.website
    description: Gateway role
  - url: https://token-center.k3s.onetwo.website
    description: Control role
tags:
  - name: System
    description: Process status and runtime-discovered schemas/plugins.
  - name: Client credentials
    description: Stable downstream identities, secrets, policy, status, and imported credential continuity.
  - name: Service credentials
    description: Least-privilege control-plane credentials for internal integrations.
  - name: Upstream providers
    description: Unified upstream identities independent of their authentication method.
  - name: Routes and pricing
    description: Public-model routing and token/multimodal price configuration.
  - name: Groups
    description: |
      Tenant-scoped provider groups, route groups, and credential groups. Provider
      groups participate in route candidate selection and route groups participate
      in credential authorization. Credential groups are presentation-only
      classification and never grant a route, model, provider, or permission.
  - name: Credits
    description: Idempotent account grants, reversals, and ledger inspection.
  - name: Entitlements
    description: Exact, versioned subscription credit reconciliation for memeloop web.
  - name: Operator traffic
    description: Tenant/global traffic statistics, request detail, and live events.
  - name: Session archive quarantine
    description: Global persistent-operator review and immutable resolution of uncorrelated archive records.
  - name: Self service
    description: Credential-scoped, read-only usage and logical-conversation views.
  - name: OpenAI compatible
    description: OpenAI-compatible model, chat, Responses, and embedding routes.
  - name: Anthropic compatible
    description: Anthropic Messages-compatible routes used by Claude Code.
  - name: Multimodal generation
    description: Synchronous image and asynchronous image/video generation routes.
paths:
  /healthz:
    get:
      tags: [System]
      operationId: getHealth
      summary: Deprecated process-liveness compatibility alias
      description: Use `/livez`. This compatibility route does not check dependencies.
      security: []
      responses:
        '200':
          description: Process is serving HTTP.
          headers:
            Deprecation:
              description: Always `true` for this deprecated alias.
              schema: { const: 'true' }
            Link:
              description: Successor endpoint relation.
              schema: { const: '</livez>; rel="successor-version"' }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'

  /livez:
    get:
      tags: [System]
      operationId: getLiveness
      summary: Report process liveness without probing dependencies
      security: []
      responses:
        '200':
          description: Process is serving HTTP.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Health' }

  /readyz:
    get:
      tags: [System]
      operationId: getReadiness
      summary: Probe database readiness and archive degradation
      description: |
        Available on every HTTP role for Kubernetes probes. PostgreSQL and archive
        checks run concurrently with bounded deadlines and a five-second singleflight
        cache, so probe bursts do not amplify dependency traffic. PostgreSQL alone
        determines the HTTP status. An archive failure is returned as HTTP 200 with
        `status: degraded` and `checks.archive: failed`; archive-dependent image/video
        operations still fail closed.
      security: []
      responses:
        '200':
          description: PostgreSQL is ready; archive is either ready or explicitly degraded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }
        '503':
          description: PostgreSQL readiness failed or timed out.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Readiness' }

  /metrics:
    get:
      tags: [System]
      operationId: getPrometheusMetrics
      summary: Export bounded-cardinality operational metrics
      description: |
        Registered only by the control/all role. Labels are restricted to controlled
        methods, matched route templates, status classes, providers, operations,
        dependencies, pool states, and generation states. Tenant, credential, model,
        URL, resource ID, and error-text labels are deliberately excluded.
      security: [{ serviceBearer: [] }]
      x-required-scope: metrics:read
      responses:
        '200':
          description: Prometheus text exposition.
          headers:
            Cache-Control:
              schema: { const: no-store }
          content:
            'text/plain; version=0.0.4; charset=utf-8':
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /version:
    get:
      tags: [System]
      operationId: getBuildVersion
      summary: Read build and API compatibility metadata
      description: Registered only by the control/all role. Local builds may report `unknown` for injected build fields.
      security: [{ serviceBearer: [] }]
      x-required-scope: metrics:read
      responses:
        '200':
          description: Build identity and supported API versions.
          headers:
            Cache-Control:
              schema: { const: no-store }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VersionInfo' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/keys:
    get:
      tags: [Client credentials]
      operationId: listClientCredentials
      summary: List stable client credential identities
      description: |
        A tenant-scoped service credential is always restricted to its bound tenant.
        A global credential may omit `tenant_external_id` to inspect all tenants.
        Records are ordered by `(created_at, key_id)` descending. Use the final row's
        `created_at` and `key_id` as the paired, exclusive `before_created_at` and
        `before_id` cursor. The response never contains a credential secret, so a caller
        that lost a create response can reconcile the stable `key_id`, `account_id`,
        fingerprint, generation, policy and balance, then rotate if secret recovery is
        required.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:read
      parameters:
        - $ref: '#/components/parameters/TenantFilter'
        - name: principal_external_id
          in: query
          schema: { type: string, maxLength: 200 }
        - $ref: '#/components/parameters/CredentialListLimit500'
        - $ref: '#/components/parameters/BeforeCreatedAt'
        - $ref: '#/components/parameters/BeforeId'
      responses:
        '200':
          description: Stable identities; never contains credential secrets.
          content:
            application/json:
              schema:
                type: array
                maxItems: 500
                items: { $ref: '#/components/schemas/ManagedClientCredential' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Client credentials]
      operationId: createClientCredential
      summary: Provision a stable client identity and its first credential
      description: |
        Creates or reuses the tenant and principal, creates a credit account and stable
        `key_id`, then returns the one-time `mtc_…` secret. When `Idempotency-Key` is
        supplied, an identical request may replay the same response for 24 hours; use
        of the same key with a different normalized request is rejected.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      parameters:
        - $ref: '#/components/parameters/OptionalIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateClientCredentialRequest' }
      responses:
        '201':
          description: Newly issued or idempotently replayed one-time credential.
          headers:
            X-MTC-Request-Id: { $ref: '#/components/headers/RequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IssuedClientCredential' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/keys/{key_id}/rotate:
    post:
      tags: [Client credentials]
      operationId: rotateClientCredential
      summary: Replace a client credential secret without migrating its identity
      description: |
        Revokes all previous native and legacy secrets. Policy, balance, requests, and
        conversations remain attached to the same `key_id`. `Idempotency-Key` is required;
        replaying the same rotation key within 24 hours returns the same generation and
        the same one-time secret rather than rotating again. Idempotency keys are global
        across client and service credential rotations and must not be reused for another
        resource.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      parameters:
        - $ref: '#/components/parameters/KeyId'
        - $ref: '#/components/parameters/RequiredIdempotencyKey'
      responses:
        '200':
          description: One-time replacement credential.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IssuedClientCredential' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/keys/{key_id}/alias:
    patch:
      tags: [Client credentials]
      operationId: renameClientCredential
      summary: Rename a stable client credential without changing its identity
      description: The trimmed alias is display metadata. The stable key, principal, policy, balance, request history, and credential generations remain unchanged.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      parameters: [{ $ref: '#/components/parameters/KeyId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [alias]
              properties:
                alias: { type: string, minLength: 1, maxLength: 200, pattern: '^[^\x00-\x1F\x7F]+$' }
      responses:
        '200':
          description: Updated key-local display metadata.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [key_id, alias, updated_at]
                properties:
                  key_id: { type: string, format: uuid }
                  alias: { type: string, minLength: 1, maxLength: 200, pattern: '^[^\x00-\x1F\x7F]+$' }
                  updated_at: { type: integer, format: int64 }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/keys/{key_id}/limits:
    get:
      tags: [Client credentials]
      operationId: getClientCredentialLimitSnapshot
      summary: Read current rate, concurrency, budget, and balance headroom
      description: The snapshot is captured for the selected stable key. A tenant-scoped service credential cannot select a key in another tenant.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:read
      parameters: [{ $ref: '#/components/parameters/KeyId' }]
      responses:
        '200':
          description: Current configured limits and transactional consumption.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClientCredentialLimitSnapshot' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/keys/{key_id}/policy:
    put:
      tags: [Client credentials]
      operationId: replaceClientCredentialPolicy
      summary: Replace model permissions, rate limits, and budgets
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      parameters: [{ $ref: '#/components/parameters/KeyId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CredentialPolicy' }
      responses:
        '200':
          description: Stored replacement policy.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CredentialPolicy' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/keys/{key_id}/routing:
    get:
      tags: [Groups]
      operationId: getClientCredentialRouting
      summary: Read exact-route and route-group grants for one stable credential
      description: |
        Returns direct route grants, route-group grants, and the deduplicated effective
        route set. Credential groups are intentionally absent because they only
        organize credentials in the operator UI and never grant access. Route-group
        membership changes are reflected in `effective_route_ids` immediately without
        changing the credential's direct-grant revision.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:read
      x-authorization-contract:
        tenant-source: stable-key-id
        credential-groups-grant-permission: false
      parameters:
        - $ref: '#/components/parameters/KeyId'
        - $ref: '#/components/parameters/RequiredTenant'
      responses:
        '200':
          description: Current normalized grants and their relation revision.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClientCredentialRouting' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Groups]
      operationId: replaceClientCredentialRouting
      summary: Atomically replace exact-route and route-group grants
      description: |
        `expected_grant_revision` is a compare-and-set token read from the routing
        representation. The replacement is all-or-nothing and may only reference
        existing routes and route groups in the credential tenant. Credential-group
        IDs are not accepted. A stale revision returns 409 and changes nothing.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      x-authorization-contract:
        tenant-source: stable-key-id
        credential-groups-grant-permission: false
      parameters: [{ $ref: '#/components/parameters/KeyId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceClientCredentialRoutingRequest' }
      responses:
        '200':
          description: Atomically replaced grants with a new relation revision.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClientCredentialRouting' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/keys/{key_id}/status:
    patch:
      tags: [Client credentials]
      operationId: setClientCredentialStatus
      summary: Activate, suspend, or permanently revoke a client identity
      description: "`revoked` is terminal and revokes all credential generations. A suspended identity may be returned to active."
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      parameters: [{ $ref: '#/components/parameters/KeyId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StatusRequest' }
      responses:
        '200':
          description: Current status.
          content:
            application/json:
              schema:
                type: object
                required: [key_id, status]
                properties:
                  key_id: { type: string, format: uuid }
                  status: { $ref: '#/components/schemas/CredentialStatus' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/service-tokens:
    get:
      tags: [Service credentials]
      operationId: listServiceCredentials
      summary: List service credential identities
      description: Global service credentials only. Secrets are never returned.
      security: [{ serviceBearer: [] }]
      x-required-scope: service_tokens:read
      parameters:
        - $ref: '#/components/parameters/ControlListLimit100'
        - $ref: '#/components/parameters/BeforeCreatedAt'
        - $ref: '#/components/parameters/BeforeId'
      responses:
        '200':
          description: Service credential metadata.
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items: { $ref: '#/components/schemas/ServiceCredential' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Service credentials]
      operationId: createServiceCredential
      summary: Create a least-privilege service credential
      description: Global service credentials only. Bind normal integrations to one tenant.
      security: [{ serviceBearer: [] }]
      x-required-scope: service_tokens:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateServiceCredentialRequest' }
      responses:
        '201':
          description: One-time service credential secret.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IssuedServiceCredential' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/service-tokens/{service_id}/rotate:
    post:
      tags: [Service credentials]
      operationId: rotateServiceCredential
      summary: Rotate a service credential while retaining its identity and scopes
      description: |
        `Idempotency-Key` is required. Replaying the same rotation key within 24 hours
        returns the same generation and one-time token rather than rotating again.
        Idempotency keys are global across client and service credential rotations and
        must not be reused for another resource.
      security: [{ serviceBearer: [] }]
      x-required-scope: service_tokens:write
      parameters:
        - $ref: '#/components/parameters/ServiceId'
        - $ref: '#/components/parameters/RequiredIdempotencyKey'
      responses:
        '200':
          description: One-time replacement service credential.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IssuedServiceCredential' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/service-tokens/{service_id}/status:
    patch:
      tags: [Service credentials]
      operationId: setServiceCredentialStatus
      summary: Activate, suspend, or permanently revoke a service credential
      security: [{ serviceBearer: [] }]
      x-required-scope: service_tokens:write
      parameters: [{ $ref: '#/components/parameters/ServiceId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StatusRequest' }
      responses:
        '200':
          description: Current status.
          content:
            application/json:
              schema:
                type: object
                required: [service_id, status]
                properties:
                  service_id: { type: string, format: uuid }
                  status: { $ref: '#/components/schemas/CredentialStatus' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/provider-types:
    get:
      tags: [Upstream providers]
      operationId: listProviderTypes
      summary: List built-in and plugin-contributed provider types and JSON Schemas
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:read
      responses:
        '200':
          description: Provider contributions available in this process.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ProviderType' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/tenants:
    get:
      tags: [System]
      operationId: listTenants
      summary: List visible tenant external IDs
      security: [{ serviceBearer: [] }]
      x-required-scope: requests:read
      parameters:
        - $ref: '#/components/parameters/ControlListLimit100'
        - $ref: '#/components/parameters/AfterExternalId'
      responses:
        '200':
          description: A scoped credential sees only its own tenant.
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: object
                  required: [external_id]
                  properties:
                    external_id: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/diagnostics/runtime:
    get:
      tags: [System]
      operationId: getRuntimeDiagnostics
      summary: Read bounded process, allocator, and profiling status
      security: [{ serviceBearer: [] }]
      x-required-scope: metrics:read
      responses:
        '200':
          description: A no-store snapshot of low-cardinality runtime diagnostics.
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/diagnostics/cpu-profile:
    post:
      tags: [System]
      operationId: captureCpuProfile
      summary: Capture a bounded Google pprof CPU profile when runtime profiling is enabled
      security: [{ serviceBearer: [] }]
      x-required-scope: metrics:read
      parameters:
        - name: seconds
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 30, default: 10 }
      responses:
        '200':
          description: Google pprof protobuf suitable for pprof-compatible analysis tools.
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/vnd.google.protobuf:
              schema: { type: string, format: binary, maxLength: 33554432 }
        '400': { description: Profiling duration is outside the configured bound. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalError' }

  /internal/v1/diagnostics/heap-profile:
    post:
      tags: [System]
      operationId: captureHeapProfile
      summary: Capture a bounded jemalloc heap profile when runtime profiling is enabled
      security: [{ serviceBearer: [] }]
      x-required-scope: metrics:read
      parameters:
        - name: seconds
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 30, default: 10 }
      responses:
        '200':
          description: A jemalloc heap profile for offline analysis.
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
          content:
            application/octet-stream:
              schema: { type: string, format: binary, maxLength: 67108864 }
        '400': { description: Profiling duration is outside the configured bound. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalError' }

  /internal/v1/plugins:
    get:
      tags: [System]
      operationId: listPlugins
      summary: List loaded plugin manifests
      security: [{ serviceBearer: [] }]
      x-required-scope: plugins:read
      responses:
        '200':
          description: Sanitized loaded manifests.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PluginManifest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/plugins/{plugin_id}/configuration:
    parameters:
      - name: plugin_id
        in: path
        required: true
        schema: { type: string, pattern: '^[a-z0-9-]{1,64}$' }
    get:
      tags: [System]
      operationId: getPluginConfiguration
      summary: Read the effective plugin configuration and selected-scope version
      security: [{ serviceBearer: [] }]
      x-required-scope: plugins:read
      parameters:
        - name: tenant_external_id
          in: query
          required: false
          description: Omit for the global layer. A tenant-scoped service credential is always bound to its own tenant.
          schema: { type: string, minLength: 1, maxLength: 200 }
      responses:
        '200':
          description: Tenant override, inherited global value, or manifest default. `scope_version` is always the selected write scope and is zero when that scope has no row.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PluginConfiguration' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [System]
      operationId: putPluginConfiguration
      summary: Validate and atomically replace one global or tenant plugin configuration
      description: The value is validated against the currently loaded plugin schema. Optimistic `expected_version` and the scoped Idempotency-Key prevent lost or duplicate updates.
      security: [{ serviceBearer: [] }]
      x-required-scope: plugins:write
      parameters:
        - $ref: '#/components/parameters/RequiredIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PutPluginConfigurationRequest' }
      responses:
        '200':
          description: Persisted configuration for the selected scope.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PluginConfiguration' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/schemas:
    get:
      tags: [System]
      operationId: getConfigurationSchemas
      summary: Return JSON Schemas used by the operator UI
      description: These schemas are UI/discovery documents. Provider-specific schemas are also returned by `/internal/v1/provider-types`.
      security: [{ serviceBearer: [] }]
      x-required-scope: schemas:read
      responses:
        '200':
          description: Named JSON Schema documents.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: { type: [object, boolean] }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/upstreams:
    get:
      tags: [Upstream providers]
      operationId: listUpstreamProviders
      summary: List unified upstream provider accounts
      description: API credentials, native OAuth, plugin-provided authorization, and no-auth connections are authentication methods of the same upstream account resource.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:read
      parameters:
        - $ref: '#/components/parameters/TenantFilter'
        - $ref: '#/components/parameters/ControlListLimit100'
        - $ref: '#/components/parameters/BeforeCreatedAt'
        - $ref: '#/components/parameters/BeforeId'
      responses:
        '200':
          description: Upstream account metadata without secrets.
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items: { $ref: '#/components/schemas/UpstreamProvider' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Upstream providers]
      operationId: createUpstreamProvider
      summary: Create an upstream provider account with a direct credential
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateUpstreamProviderRequest' }
      responses:
        '201':
          description: Stable upstream provider identity.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/upstreams/{account_id}:
    put:
      tags: [Upstream providers]
      operationId: replaceUpstreamProviderConfiguration
      summary: Replace the editable configuration of one unified upstream
      description: |
        Keeps the stable upstream identity, provider driver, authentication method,
        routes, and history. `expected_updated_at` provides optimistic concurrency.
        Repeating an already-applied identical representation is safe; a stale,
        non-identical representation returns 409. Provider JSON Schema and outbound
        destination policy are revalidated before the write.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      parameters: [{ $ref: '#/components/parameters/AccountId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceUpstreamProviderRequest' }
      responses:
        '200':
          description: Updated upstream account metadata without secrets.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    patch:
      tags: [Upstream providers]
      operationId: setUpstreamProviderStatus
      summary: Activate or disable one unified upstream
      description: |
        Disabling immediately removes the account from route resolution without
        deleting routes or audit history. Activation revalidates the current
        credential. Repeating the current status is safe; a stale non-identical
        transition returns 409.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      parameters: [{ $ref: '#/components/parameters/AccountId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetUpstreamProviderStatusRequest' }
      responses:
        '200':
          description: Upstream account in the requested state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Upstream providers]
      operationId: deleteUpstreamProvider
      summary: Delete a disabled, unreferenced unified upstream
      description: |
        The account must be disabled, have no model routes, and have no text or
        generation request history. Otherwise it must remain disabled for audit and
        the operation returns 409. A missing account, including a repeated successful
        delete, returns 204.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/RequiredTenant'
        - $ref: '#/components/parameters/ExpectedUpdatedAt'
      responses:
        '204': { description: Upstream deleted or already absent. }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/upstreams/{account_id}/health:
    post:
      tags: [Upstream providers]
      operationId: probeUpstreamProviderHealth
      summary: Probe one upstream without returning its response body
      description: |
        Performs a bounded provider-specific read using the current credential. The
        upstream response body is never read, logged, or returned. Transport and
        authentication failures are represented by `status: unhealthy` in a 200
        management response; they are not proxy responses.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TenantFilter'
      responses:
        '200':
          description: Sanitized health result.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamHealthResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/upstreams/{account_id}/credential:
    put:
      tags: [Upstream providers]
      operationId: rotateUpstreamCredential
      summary: Replace an upstream authentication method while retaining its account identity
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      description: |
        `Idempotency-Key` is required. Replaying the same key for the same account and
        credential within 24 hours returns the stored generation. Reuse for another
        resource or different credential is rejected. The stable upstream ID, routes,
        and request history do not change.
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/RequiredIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [credential]
              properties:
                credential: { $ref: '#/components/schemas/UpstreamCredential' }
      responses:
        '200':
          description: Updated upstream metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/upstreams/{account_id}/models:
    get:
      tags: [Upstream providers]
      operationId: listUpstreamModels
      summary: Search the last complete model catalog for one upstream
      description: A stale or failed refresh retains the last complete snapshot. The response never includes upstream response bodies or credentials. Either `providers:read` or `routes:read` is accepted.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:read
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TenantFilter'
        - name: q
          in: query
          schema: { type: string, maxLength: 500 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
      responses:
        '200':
          description: Current account-scoped catalog snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamModelCatalog' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/upstreams/{account_id}/models/sync:
    post:
      tags: [Upstream providers]
      operationId: syncUpstreamModels
      summary: Refresh one upstream model catalog using its stored destination and credential
      description: Concurrent refreshes are collapsed by a database lease. The client cannot supply a discovery URL. Failure returns a static error code while preserving the prior snapshot.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/TenantFilter'
      responses:
        '200':
          description: Refreshed, stale, unsupported, or already-syncing catalog state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamModelCatalog' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/upstream-models:
    get:
      tags: [Model routes]
      operationId: searchEligibleUpstreamModels
      summary: Search model coverage for explicit providers and provider groups
      description: Explicit accounts and included provider groups are unioned, then excluded provider groups are removed. Exclusion always wins. Route groups and credential groups never participate. Either `providers:read` or `routes:read` is accepted.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:read
      parameters:
        - $ref: '#/components/parameters/RequiredTenant'
        - name: account_ids
          in: query
          description: Comma-separated explicit upstream account UUIDs, at most 100.
          schema: { type: string }
        - name: include_provider_group_ids
          in: query
          description: Comma-separated provider group UUIDs, at most 100.
          schema: { type: string }
        - name: exclude_provider_group_ids
          in: query
          description: Comma-separated provider group UUIDs, at most 100. Exclusion wins over explicit and included selection.
          schema: { type: string }
        - name: q
          in: query
          schema: { type: string, maxLength: 500 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
      responses:
        '200':
          description: Bounded model union with per-model coverage.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AggregatedUpstreamModelCatalog' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/upstreams/{account_id}/oauth/refresh:
    post:
      tags: [Upstream providers]
      operationId: refreshUpstreamOAuthCredential
      summary: Refresh an OAuth upstream and advance its credential generation
      description: |
        `Idempotency-Key` is required and claims the refresh before the authorization
        server is called, so an ambiguous timeout can be replayed without refreshing
        twice. The stored result is replayable for 24 hours. Reuse outside the same
        upstream refresh operation is rejected.
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/RequiredIdempotencyKey'
      responses:
        '200':
          description: Updated stable upstream identity.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/upstreams/{account_id}/oauth/disconnect:
    post:
      tags: [Upstream providers]
      operationId: disconnectUpstreamOAuth
      summary: Revoke and disable an OAuth upstream while preserving its stable identity
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      parameters:
        - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DisconnectUpstreamOAuthRequest' }
      responses:
        '200':
          description: OAuth credential revoked locally and, when supported, at the provider.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DisconnectUpstreamOAuthResponse' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/oauth/cursor/start:
    post:
      tags: [Upstream providers]
      operationId: startCursorOAuth
      summary: Start direct Cursor PKCE authorization
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StartCursorOAuthRequest' }
      responses:
        '200':
          description: Opaque, expiring login state and authorization URL.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthLoginStart' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/oauth/cursor/poll:
    post:
      tags: [Upstream providers]
      operationId: pollCursorOAuth
      summary: Poll direct Cursor authorization and create the upstream when ready
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OAuthPollRequest' }
      responses:
        '200':
          description: Existing stable upstream reauthorized; routes and history remain attached.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '201':
          description: Authorization completed and stable upstream created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '202':
          description: Authorization is still pending.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthPending' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/oauth/codex/start:
    post:
      tags: [Upstream providers]
      operationId: startOpenAiCodexOAuth
      summary: Start native OpenAI Codex device authorization
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StartCodexOAuthRequest' }
      responses:
        '200':
          description: Expiring device authorization details and opaque session state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CodexDeviceLoginStart' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/oauth/codex/poll:
    post:
      tags: [Upstream providers]
      operationId: pollOpenAiCodexOAuth
      summary: Poll native OpenAI Codex authorization and create the upstream when ready
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OAuthPollRequest' }
      responses:
        '200':
          description: Existing stable upstream reauthorized or a completed session replayed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '201':
          description: Authorization completed and stable upstream created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '202':
          description: Authorization is still pending.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthPending' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/oauth/claude/start:
    post:
      tags: [Upstream providers]
      operationId: startClaudeOAuth
      summary: Start native Claude authorization
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StartClaudeOAuthRequest' }
      responses:
        '200':
          description: Expiring authorization URL and opaque session state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClaudeLoginStart' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/oauth/claude/complete:
    post:
      tags: [Upstream providers]
      operationId: completeClaudeOAuth
      summary: Complete native Claude authorization and create the upstream
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteClaudeOAuthRequest' }
      responses:
        '200':
          description: Existing stable upstream reauthorized or a completed session replayed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '201':
          description: Authorization completed and stable upstream created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '202':
          description: Authorization completion is already in progress.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthPending' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/oauth/copilot/start:
    post:
      tags: [Upstream providers]
      operationId: startGitHubCopilotOAuth
      summary: Start native GitHub Copilot device authorization
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StartCopilotOAuthRequest' }
      responses:
        '200':
          description: Expiring device authorization details and opaque session state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CopilotDeviceLoginStart' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/oauth/copilot/poll:
    post:
      tags: [Upstream providers]
      operationId: pollGitHubCopilotOAuth
      summary: Poll native GitHub Copilot authorization and create the upstream when ready
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OAuthPollRequest' }
      responses:
        '200':
          description: Existing stable upstream reauthorized or a completed session replayed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '201':
          description: Authorization completed and stable upstream created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '202':
          description: Authorization is still pending.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthPending' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/oauth/provider-adapter/start:
    post:
      tags: [Upstream providers]
      operationId: startProviderAdapterOAuth
      summary: Start OAuth through a plugin-contributed provider adapter
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StartProviderAdapterOAuthRequest' }
      responses:
        '200':
          description: Opaque, expiring login state and authorization URL.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthLoginStart' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/oauth/provider-adapter/poll:
    post:
      tags: [Upstream providers]
      operationId: pollProviderAdapterOAuth
      summary: Poll plugin-adapter OAuth and create the upstream when ready
      security: [{ serviceBearer: [] }]
      x-required-scope: oauth:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OAuthPollRequest' }
      responses:
        '200':
          description: Existing stable upstream reauthorized; routes and history remain attached.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '201':
          description: Authorization completed and stable upstream created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UpstreamProvider' }
        '202':
          description: Authorization is still pending.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OAuthPending' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/imports/cpa/managed-oauth/capabilities:
    get:
      tags: [Upstream providers]
      operationId: getCpaManagedOAuthImportCapabilities
      summary: Preflight the server-installed CPA managed OAuth source types
      description: |
        Global-operator preflight for fail-closed import planning. The stable
        response contains only the contract version and sorted source type names;
        provider drivers, adapter destinations, and internal topology are omitted.
      security: [{ serviceBearer: [] }]
      x-required-scope: imports:cpa:write
      x-global-service-only: true
      responses:
        '200':
          description: Stable managed OAuth import capabilities without adapter metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CpaManagedOAuthImportCapabilities' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/imports/cpa/managed-oauth:
    post:
      tags: [Upstream providers]
      operationId: importCpaManagedOAuthAccount
      summary: Import one CPA managed OAuth document through a server-installed adapter
      description: |
        Global-only import with a 1 MiB canonical-document limit and a bounded
        64 KiB JSON envelope allowance. The source path is used only in a keyed
        provenance identity and is never stored, logged, or returned.
        Exact replays return the current account without resolving or calling
        an adapter. A changed Codex document may atomically install a new
        credential generation only when its encrypted external account
        identity matches the existing source-bound account; other changes fail
        closed and require explicit reauthorization.
        Driver, account configuration, credentials, and adapter destinations are
        derived by the current server catalog and cannot be supplied by the caller.
      security: [{ serviceBearer: [] }]
      x-required-scope: imports:cpa:write
      x-global-service-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CpaManagedOAuthImportRequest' }
      responses:
        '200':
          description: Exact replay or identity-preserving credential-generation update.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CpaManagedOAuthImportResult' }
        '201':
          description: Managed OAuth account created atomically.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CpaManagedOAuthImportResult' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/migrations/openai-codex/prepare:
    post:
      tags: [Upstream providers]
      operationId: prepareNativeOpenAICodexUpgrade
      summary: Prepare an exact native OpenAI Codex account migration
      description: |
        Global operator-only review stage for a finite explicit account-id
        allowlist. It returns only ids, compare-and-swap versions, and proxy
        attestations; OAuth tokens, account configuration, and proxy URLs are
        never returned. Every selected account must already carry a private
        SOCKS transport, otherwise preparation fails closed.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      x-global-service-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NativeCodexUpgradePrepareRequest' }
      responses:
        '200':
          description: Immutable CAS plan for the explicitly selected account ids.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NativeCodexUpgradePlan' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/migrations/openai-codex/apply:
    post:
      tags: [Upstream providers]
      operationId: applyNativeOpenAICodexUpgrade
      summary: Apply a reviewed native OpenAI Codex account migration
      description: |
        Transactional native-only upgrade for the exact targets returned by
        prepare. It preserves each stable account id, encrypted refresh state,
        and approved private proxy, while atomically changing the provider
        driver and adapter-state ABI. Repeating a completed request returns
        ids as already native; an unreviewed or changed legacy row fails with
        409 rather than being silently rewritten.
      security: [{ serviceBearer: [] }]
      x-required-scope: providers:write
      x-global-service-only: true
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NativeCodexUpgradeApplyRequest' }
      responses:
        '200':
          description: Upgrade outcome containing only stable account ids and counts.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NativeCodexUpgradeResult' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/imports/session-archive/quarantine:
    get:
      tags: [Session archive quarantine]
      operationId: listSessionArchiveQuarantine
      summary: List quarantined session archive records for one tenant
      description: |
        Requires a global persistent service credential. The bootstrap secret,
        tenant-scoped service credentials, and downstream client credentials are
        rejected. Records are ordered by `(source_started_at, id)` descending;
        continue with the final row's paired cursor values.
      security: [{ serviceBearer: [] }]
      x-required-scope: imports:session_archive:quarantine:read
      x-global-service-only: true
      x-persistent-service-only: true
      parameters:
        - $ref: '#/components/parameters/RequiredTenant'
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [pending, resolved, dismissed]
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int64, minimum: 1, maximum: 100, default: 100 }
        - name: before_started_at
          in: query
          required: false
          description: Exclusive source-start timestamp cursor; must be paired with `before_id`.
          schema: { type: integer, format: int64 }
        - $ref: '#/components/parameters/BeforeId'
      responses:
        '200':
          description: Bounded tenant quarantine page without credential material or identity-claim proofs.
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items: { $ref: '#/components/schemas/SessionArchiveQuarantineRecord' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/imports/session-archive/quarantine/{quarantine_id}:
    get:
      tags: [Session archive quarantine]
      operationId: getSessionArchiveQuarantineRecord
      summary: Get one tenant-bound quarantine record
      description: Requires a global persistent service credential; cross-tenant IDs are returned as not found.
      security: [{ serviceBearer: [] }]
      x-required-scope: imports:session_archive:quarantine:read
      x-global-service-only: true
      x-persistent-service-only: true
      parameters:
        - $ref: '#/components/parameters/QuarantineId'
        - $ref: '#/components/parameters/RequiredTenant'
      responses:
        '200':
          description: Quarantine metadata safe for operator review.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionArchiveQuarantineRecord' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/imports/session-archive/quarantine/{quarantine_id}/resolutions:
    post:
      tags: [Session archive quarantine]
      operationId: resolveSessionArchiveQuarantineRecord
      summary: Permanently associate or dismiss one quarantined archive record
      description: |
        Requires a global persistent service credential so the immutable audit
        record always contains a stable service principal. `expected_record_digest`
        provides optimistic concurrency; `evidence_digest` is a SHA-256 digest of
        independently retained operator evidence. An exact Idempotency-Key replay
        returns the original resolution, while changed proof or action returns 409.
      security: [{ serviceBearer: [] }]
      x-required-scope: imports:session_archive:quarantine:resolve
      x-global-service-only: true
      x-persistent-service-only: true
      parameters:
        - $ref: '#/components/parameters/QuarantineId'
        - $ref: '#/components/parameters/RequiredIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResolveSessionArchiveQuarantineRequest' }
      responses:
        '200':
          description: Newly committed or exactly replayed immutable resolution.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionArchiveQuarantineResolution' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/model-routes:
    get:
      tags: [Routes and pricing]
      operationId: listModelRoutes
      summary: List model routes visible to the caller
      description: Each item is enriched with provider associations, route groups, reverse exact credential grants, effective candidate accounts, and the direct-grant relation revision.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:read
      parameters:
        - $ref: '#/components/parameters/TenantFilter'
        - $ref: '#/components/parameters/ControlListLimit100'
        - $ref: '#/components/parameters/BeforeCreatedAt'
        - $ref: '#/components/parameters/BeforeId'
      responses:
        '200':
          description: Routes ordered by public model and priority.
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items: { $ref: '#/components/schemas/ModelRoute' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Routes and pricing]
      operationId: createModelRoute
      summary: Route a public model to explicit providers or provider groups
      description: |
        Explicit accounts and included provider groups are unioned, then excluded
        provider groups are removed. Exclusion wins. Missing `route_group_names` are
        created atomically. `custom_model_confirmed` is required by policy when the
        selected upstream model is not in a complete synchronized catalog.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateModelRouteRequest' }
      responses:
        '201':
          description: Enabled model route. An identical create replays the existing route with the same status.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelRoute' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/model-routes/{route_id}:
    put:
      tags: [Routes and pricing]
      operationId: replaceModelRoute
      summary: Replace a model route using optimistic concurrency
      description: |
        The upstream must be active, belong to the selected tenant, and support the
        requested protocol. Repeating the already-applied target values returns the
        current route even if `expected_updated_at` is the older value. A stale version
        for a different change, or a conflicting route uniqueness key, returns 409.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters: [{ $ref: '#/components/parameters/RouteId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceModelRouteRequest' }
      responses:
        '200':
          description: Updated route or idempotent replay of the already-applied values.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelRoute' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    patch:
      tags: [Routes and pricing]
      operationId: setModelRouteEnabled
      summary: Enable or disable a model route using optimistic concurrency
      description: Repeating the current target state is idempotent; a stale version for a real state change returns 409.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters: [{ $ref: '#/components/parameters/RouteId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetModelRouteEnabledRequest' }
      responses:
        '200':
          description: Route in the requested state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelRoute' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Routes and pricing]
      operationId: deleteModelRoute
      summary: Delete a disabled, unreferenced model route
      description: |
        The route must first be disabled and must not be referenced by request history.
        A stale `expected_updated_at`, enabled route, or historical reference returns
        409. A missing route, including a repeated successful delete, returns 204.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters:
        - $ref: '#/components/parameters/RouteId'
        - $ref: '#/components/parameters/RequiredTenant'
        - $ref: '#/components/parameters/ExpectedUpdatedAt'
      responses:
        '204': { description: Route deleted or already absent. }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/model-routes/{route_id}/routing:
    get:
      tags: [Groups]
      operationId: getModelRouteRouting
      summary: Read provider selection, route groups, and reverse credential grants
      description: |
        Candidate providers are the union of explicit upstream accounts and included
        provider groups, minus excluded provider groups; exclusion wins. Route groups
        make this route available to credentials granted those groups. Credential
        groups do not participate in either calculation.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:read
      x-routing-contract:
        provider-candidates: explicit-accounts-union-included-provider-groups-minus-excluded-provider-groups
        provider-group-exclusion-wins: true
        route-groups-authorize-credentials: true
        credential-groups-affect-routing: false
      parameters:
        - $ref: '#/components/parameters/RouteId'
        - $ref: '#/components/parameters/RequiredTenant'
      responses:
        '200':
          description: Current normalized route associations and revisions.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelRouteRouting' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Groups]
      operationId: replaceModelRouteRouting
      summary: Atomically replace all route associations
      description: |
        `expected_updated_at` protects provider and group associations while
        `expected_grant_revision` protects reverse exact credential grants. Both
        compare-and-set tokens must match. Every referenced resource must belong to
        the selected tenant. Missing route-group names are created atomically;
        credential groups are not accepted. A stale token returns 409 and changes
        neither associations nor grants.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters: [{ $ref: '#/components/parameters/RouteId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceModelRouteRoutingRequest' }
      responses:
        '200':
          description: Atomically replaced route associations and revisions.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelRouteRouting' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/provider-groups:
    get:
      tags: [Groups]
      operationId: listProviderGroups
      summary: List provider groups in one tenant
      description: Provider groups select upstream candidates inside model routes.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:read
      parameters: [{ $ref: '#/components/parameters/RequiredTenant' }]
      responses:
        '200': { $ref: '#/components/responses/GroupList' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Groups]
      operationId: createProviderGroup
      summary: Create or return a normalized provider group in one tenant
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateGroupRequest' }
      responses:
        '201': { $ref: '#/components/responses/GroupCreated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/provider-groups/{group_id}:
    put:
      tags: [Groups]
      operationId: replaceProviderGroup
      summary: Rename a provider group using optimistic concurrency
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters: [{ $ref: '#/components/parameters/GroupId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceGroupRequest' }
      responses:
        '200': { $ref: '#/components/responses/GroupUpdated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Groups]
      operationId: deleteProviderGroup
      summary: Delete an unreferenced provider group using optimistic concurrency
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/RequiredTenant'
        - $ref: '#/components/parameters/ExpectedUpdatedAt'
      responses:
        '204': { description: Group deleted. }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/provider-groups/{group_id}/members:
    put:
      tags: [Groups]
      operationId: replaceProviderGroupMembers
      summary: Atomically replace upstream accounts in a provider group
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters: [{ $ref: '#/components/parameters/GroupId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceGroupMembersRequest' }
      responses:
        '200': { $ref: '#/components/responses/GroupUpdated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/route-groups:
    get:
      tags: [Groups]
      operationId: listRouteGroups
      summary: List route groups in one tenant
      description: Route groups authorize credentials for all current member routes.
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:read
      parameters: [{ $ref: '#/components/parameters/RequiredTenant' }]
      responses:
        '200': { $ref: '#/components/responses/GroupList' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Groups]
      operationId: createRouteGroup
      summary: Create or return a normalized route group in one tenant
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateGroupRequest' }
      responses:
        '201': { $ref: '#/components/responses/GroupCreated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/route-groups/{group_id}:
    put:
      tags: [Groups]
      operationId: replaceRouteGroup
      summary: Rename a route group using optimistic concurrency
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters: [{ $ref: '#/components/parameters/GroupId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceGroupRequest' }
      responses:
        '200': { $ref: '#/components/responses/GroupUpdated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Groups]
      operationId: deleteRouteGroup
      summary: Delete an unreferenced route group using optimistic concurrency
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/RequiredTenant'
        - $ref: '#/components/parameters/ExpectedUpdatedAt'
      responses:
        '204': { description: Group deleted. }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/route-groups/{group_id}/members:
    put:
      tags: [Groups]
      operationId: replaceRouteGroupMembers
      summary: Atomically replace model routes in a route group
      security: [{ serviceBearer: [] }]
      x-required-scope: routes:write
      parameters: [{ $ref: '#/components/parameters/GroupId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceGroupMembersRequest' }
      responses:
        '200': { $ref: '#/components/responses/GroupUpdated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/credential-groups:
    get:
      tags: [Groups]
      operationId: listCredentialGroups
      summary: List presentation-only credential groups in one tenant
      description: Credential groups classify credentials for operator UI browsing only.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:read
      x-routing-effect: none
      parameters: [{ $ref: '#/components/parameters/RequiredTenant' }]
      responses:
        '200': { $ref: '#/components/responses/GroupList' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Groups]
      operationId: createCredentialGroup
      summary: Create or return a presentation-only credential group
      description: Creating a credential group never changes permissions or model visibility.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      x-routing-effect: none
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateGroupRequest' }
      responses:
        '201': { $ref: '#/components/responses/GroupCreated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/credential-groups/{group_id}:
    put:
      tags: [Groups]
      operationId: replaceCredentialGroup
      summary: Rename a presentation-only credential group
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      x-routing-effect: none
      parameters: [{ $ref: '#/components/parameters/GroupId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceGroupRequest' }
      responses:
        '200': { $ref: '#/components/responses/GroupUpdated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
    delete:
      tags: [Groups]
      operationId: deleteCredentialGroup
      summary: Delete a presentation-only credential group
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      x-routing-effect: none
      parameters:
        - $ref: '#/components/parameters/GroupId'
        - $ref: '#/components/parameters/RequiredTenant'
        - $ref: '#/components/parameters/ExpectedUpdatedAt'
      responses:
        '204': { description: Group deleted. }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/credential-groups/{group_id}/members:
    put:
      tags: [Groups]
      operationId: replaceCredentialGroupMembers
      summary: Atomically replace credentials in a presentation-only group
      description: Membership changes never grant a route, model, provider, or permission.
      security: [{ serviceBearer: [] }]
      x-required-scope: keys:write
      x-routing-effect: none
      parameters: [{ $ref: '#/components/parameters/GroupId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceGroupMembersRequest' }
      responses:
        '200': { $ref: '#/components/responses/GroupUpdated' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /internal/v1/model-prices:
    get:
      tags: [Routes and pricing]
      operationId: listTokenModelPrices
      summary: List configured token prices
      description: Returns every service tier with uncached input, cached input, cache-write and output dimensions plus source/estimated metadata.
      security: [{ serviceBearer: [] }]
      x-required-scope: requests:read
      parameters: [{ $ref: '#/components/parameters/Currency' }]
      responses:
        '200':
          description: Prices for the requested currency.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ModelPrice' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/model-prices/usage-summary:
    get:
      tags: [Routes and pricing]
      operationId: getPricingUsageSummary
      summary: Discover models used in traffic for price synchronization
      security: [{ serviceBearer: [] }]
      x-required-scope: requests:read
      description: |
        Applies the same bounded statistics contract: omitted `to_created_at`
        means request time, omitted `from_created_at` means 30 days before the
        effective upper bound, the resulting interval may not exceed 93 days, and
        all supplied dimensions are combined with AND.
      parameters:
        - $ref: '#/components/parameters/TenantFilter'
        - $ref: '#/components/parameters/FromCreatedAt'
        - $ref: '#/components/parameters/ToCreatedAt'
        - $ref: '#/components/parameters/KeyFilter'
        - $ref: '#/components/parameters/ModelFilter'
        - $ref: '#/components/parameters/ProtocolFilter'
        - $ref: '#/components/parameters/StatusFilter'
        - $ref: '#/components/parameters/ErrorCodeFilter'
        - $ref: '#/components/parameters/UpstreamAccountFilter'
        - $ref: '#/components/parameters/RouteFilter'
        - $ref: '#/components/parameters/MinDurationFilter'
        - $ref: '#/components/parameters/MaxDurationFilter'
        - $ref: '#/components/parameters/MinCostFilter'
        - $ref: '#/components/parameters/MaxCostFilter'
        - $ref: '#/components/parameters/KeyAliasFilter'
        - $ref: '#/components/parameters/PrincipalFilter'
      responses:
        '200':
          description: Model usage totals.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelUsageSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/model-prices/sync:
    post:
      tags: [Routes and pricing]
      operationId: synchronizeModelPrices
      summary: Synchronize token prices from fixed public catalogs
      description: |
        Global service credentials only. Fetches models.dev, LiteLLM, and OpenRouter
        from server-controlled URLs. Manual prices are preserved. Ambiguous matches are
        returned as candidates and are not written automatically.
      security: [{ serviceBearer: [] }]
      x-required-scope: prices:write
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ModelPriceSyncRequest' }
      responses:
        '200':
          description: Source outcomes, matches, candidates, and current prices.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelPriceSyncResult' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/UpstreamError' }

  /internal/v1/prices/{currency}/{model}:
    post:
      tags: [Routes and pricing]
      operationId: upsertTokenModelPrice
      summary: Create or replace one manual service-tier token price
      description: |
        Global service credentials only. The stable key is
        `(model, currency, service_tier)`. Omitting either cache dimension uses
        the uncached input price and marks that fallback as estimated.
      security: [{ serviceBearer: [] }]
      x-required-scope: prices:write
      parameters:
        - $ref: '#/components/parameters/CurrencyPath'
        - $ref: '#/components/parameters/ModelPath'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TokenPriceRequest' }
      responses:
        '200':
          description: Complete model price view including every configured tier.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelPriceWriteResult' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/generation-prices:
    get:
      tags: [Routes and pricing]
      operationId: listGenerationPrices
      summary: List configured multimodal generation prices
      security: [{ serviceBearer: [] }]
      x-required-scope: prices:read
      parameters: [{ $ref: '#/components/parameters/Currency' }]
      responses:
        '200':
          description: Generation prices for the requested currency.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/GenerationPrice' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/generation-prices/{currency}/{model}:
    post:
      tags: [Routes and pricing]
      operationId: upsertGenerationPrice
      summary: Create or replace a multimodal generation price
      description: Global service credentials only.
      security: [{ serviceBearer: [] }]
      x-required-scope: prices:write
      parameters:
        - $ref: '#/components/parameters/CurrencyPath'
        - $ref: '#/components/parameters/ModelPath'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GenerationPriceRequest' }
      responses:
        '200':
          description: Stored generation price.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GenerationPrice' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /internal/v1/accounts/{account_id}/grants:
    post:
      tags: [Credits]
      operationId: grantAccountCredit
      summary: Add an idempotent credit grant to an account
      description: The same `Idempotency-Key` must not be reused for a different grant request.
      security: [{ serviceBearer: [] }]
      x-required-scope: credits:write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/RequiredIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GrantRequest' }
      responses:
        '201':
          description: Amount granted by this logical operation.
          content:
            application/json:
              schema:
                type: object
                required: [granted]
                properties:
                  granted: { $ref: '#/components/schemas/Money' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/accounts/{account_id}/grant-reversals:
    post:
      tags: [Credits]
      operationId: reverseAccountGrant
      summary: Reverse one complete, unconsumed grant
      description: |
        The current implementation refuses automatic reversal if the account has any
        usage at or after the original grant. Use `/internal/v1/entitlements/*` for
        subscription lifecycle changes after partial consumption.
      security: [{ serviceBearer: [] }]
      x-required-scope: credits:write
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/RequiredIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GrantReversalRequest' }
      responses:
        '201':
          description: Reversed amount.
          content:
            application/json:
              schema:
                type: object
                required: [reversed]
                properties:
                  reversed: { $ref: '#/components/schemas/Money' }
        '400': { $ref: '#/components/responses/InvalidRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /internal/v1/accounts/{account_id}/ledger:
    get:
      tags: [Credits]
      operationId: listAccountLedger
      summary: List recent account ledger entries
      description: |
        Entries are ordered by `(created_at, entry_id)` descending. Use the final row's
        `created_at` and `entry_id` as the paired, exclusive `before_created_at` and
        `before_id` cursor. Every page remains bound to the path account and a
        tenant-scoped service credential may inspect only an account in its own tenant.
      security: [{ serviceBearer: [] }]
      x-required-scope: credits:read
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/Limit500'
        - $ref: '#/components/parameters/BeforeCreatedAt'
        - $ref: '#/components/parameters/BeforeId'
      responses:
        '200':
          description: Ledger entries newest first.
          content:
            application/json:
              schema:
                type: array
                maxItems: 500
[...]
